*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    /* font-weight: 800; */
}

/**** setting header ****/
header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

/* setting logo */
.logo {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
/* setting span */
span {
    color: #fb911f;
    font-size: 1.4em;
    font-weight: 600;
}
/* setting navbar */
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-weight: 700;
}
.navbar li a {
    transition: 0.3s all ease-out;
}
.navbar li a:hover {
    color: #fb911f;
    border-bottom: solid 2px #fb911f;
    transition: 0.3s all ease-out;
}
.btn-reserve {
    padding: 10px 20px;
    background-color: #fb911f;
    border-radius: 5px;
    transition: 0.3s all ease-out;
}
.btn-reserve:hover {
    background-color: #d87710;
    transition: 0.3s all ease-out;
}

/**** setting banniere ****/
.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/pageheader-banner.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.banniere .contenu {
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2,
p {
    color: #fff;
}
.banniere .contenu h2 {
    font-size: 3em;
    text-transform: capitalize;
}
.banniere .contenu p {
    font-size: 1.4em;
    font-weight: 400;
}
.btn1,
.btn2 {
    font-size: 1.4em;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn1 {
    background-color: #fb911f;
    transition: 0.3s all ease-out;
}
.btn1:hover {
    letter-spacing: 2px;
    transition: 0.3s all ease-out;
}
.btn2 {
    background-color: #2a4963;
    transition: 0.3s all ease-out;
}
.btn2:hover {
    letter-spacing: 2px;
    transition: 0.3s all ease-out;
}
/*** setting apropos ****/
.apropos {
    padding: 100px;
    height: 100vh;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row p {
    color: #000;
}
.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    color: #111;
    text-transform: capitalize;
}
.row .col50 h2 span {
    font-size: 1.5em;
    font-weight: 700;
}
.row .col50 img {
    width: 600px;
    position: relative;
}

/* *** setting menu *** */

.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.menu .contenu .box:hover {
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}

.menu .contenu .box .imgbox {
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .contenu .box .imgbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.menu .contenu .box .text h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
.menu .contenu .price h3 {
    text-align: center;
    font-size: 1.7em;
}
.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titre h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    color: #111;
    text-transform: capitalize;
}
.titre p {
    color: #000;
}
/* *** setting expert *** */
.expert {
    /* margin-top: 100px; */
    height: 100vh;
}
.expert .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.expert .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.expert .contenu .box:hover {
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}
.expert .contenu .box img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.expert .contenu .box .text h3 {
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    color: #111;
}
/* /// setting temoignage /// */
.temoignage {
    background-image: url("/images/bg2.jpg");
    background-repeat: repeat;
    min-height: 100vh;
    height: auto;
}
.temoignage .titre h2 {
    color: #fff;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
}
.temoignage .titre p {
    color: #fff;
    font-size: 1.2em;
}
.temoignage .contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}
.temoignage .contenu .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 340px;
    height: 450px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.temoignage .contenu .box:hover {
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}
.temoignage .contenu .box .imgbox {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.temoignage .contenu .box .imgbox img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.temoignage .contenu .box .temoin p {
    font-size: 1.2em;
    font-style: italic;
    text-align: justify;
    padding: 0 30px;
    color: #666;
}
.temoignage .contenu .box .text h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: #fb911f;
    margin-bottom: 30px;
}
/* /// setting contact /// */
.contact {
    background-image: url("/images/img-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 100vh;
}
.contact .contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 50px auto;
    border-radius: 5px;
}
.contact .contactform h3 {
    color: #111;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 20px;
}
.contact .contactform .inputbox input,
.contact .contactform .inputbox textarea {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #111;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    resize: none;
    border: 1px solid #555;
    border-radius: 5px;
}
.contact .contactform .inputbox input[type="submit"] {
    color: #fff;
    background-color: #fb911f;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 60%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}
.contact .contactform .inputbox input[type="submit"]:hover {
    transform: translateY(-5px);
    background-color: #d87710;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.contact .titre h2 {
    color: #111;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
}

/* /// divider \\\ */
.spikes {
    position: relative;
    background: #fb911f;
    height: 1vh;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    /* z-index: 1; */
    display: block;
    height: 100px;
    background-size: 100px 100%;
    background-image: linear-gradient(135deg, #fb911f 25%, transparent 25%),
        linear-gradient(225deg, #fb911f 25%, transparent 25%);
    background-position: 0 0;
}
